<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>city</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>User_login</display-name>
    <servlet-name>User_login</servlet-name>
    <servlet-class>net.hncu.servlet.User_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_login</servlet-name>
    <url-pattern>/User_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletTest</display-name>
    <servlet-name>ServletTest</servlet-name>
    <servlet-class>net.hncu.test.ServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletTest</servlet-name>
    <url-pattern>/ServletTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_view</display-name>
    <servlet-name>User_view</servlet-name>
    <servlet-class>net.hncu.servlet.User_view</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_view</servlet-name>
    <url-pattern>/User_view</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>net.hncu.util.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>User_index</display-name>
    <servlet-name>User_index</servlet-name>
    <servlet-class>net.hncu.servlet.User_index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_index</servlet-name>
    <url-pattern>/User_index</url-pattern>
  </servlet-mapping>
</web-app>